/* Generico */
*:focus {
    outline: 0 !important;
  }
  
  input {
    box-sizing: border-box;
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
  
  html,
  body {
    height: 100%;
    color: #777;
  }
  
  body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: normal;
    background: #ECEFF1;
  }
  
  
  h1,
  h2 {
    font-weight: 400;
    color: #3a4d56; /*olhar essa cor*/
  }
  
  h3,
  h4 {
    font-weight: 400;
    color: #3b3b3d;
  }
  
  /*header*/
  
  /*Ajusta o Header*/
  header#page-header .card-body {
      margin: 0 -20px;
  }
  .disciplina-fullname{
  color: #3a4d56;
  }
  h3.page-title {
      font-size: 42px;
      line-height: 1.2em;
      margin-left: 20px;
  }
  /*breadcrumb*/
  .breadcrumb-item+.breadcrumb-item::before {
      content: "►";
  }
  .breadcrumb {
  padding: 0;
      margin-left: 22px;
      margin-bottom: 0px;
      line-height: 1.3em;
  }
  .breadcrumb-item a {
  color: #7f8082;
      font-weight: 400;
      font-size: 13px;
  }
  
  /*Links*/
  a {
    color: #3b3b3d;
  font-weight: 400;
  }
  
  a:hover, a:focus {
    color: #162FB6;
  text-decoration:none;
  }
  
  /*Fim do genérico*/
  
  /*geral*/
  .container {
      max-width: 1680px;
      margin: 0 auto;
      padding-right: 20px;
      padding-left: 20px;
  }
  
  /*box/container? da região principal (-20px para subir o box conteúdo)*/
  #region-main {
      position: relative;
      margin-top: -20px;
      padding-top: 25px ;
      padding-bottom: 25px ;
  }
  
  /*ajusta o tamanho dos blocos header e content */
  .card-body {
  
  background:#fff; /*sem essa cor a cor #region-main div[role="main"] assume?*/
   -webkit-box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
      box-shadow: 0 5px 15px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 23%);
  }
  
  /*Ajusta o box para preencher toda a página*/
  #page #region-main>.card, #page #region-main>.groupinfobox, #page .userprofile .profile_tree #region-main>section, .userprofile .profile_tree #page #region-main>section{
      margin:  -40px;
  }
  
  /*desce o conteúdo que estava subindo o header*/
  #page #region-main {
    padding: 30px 20px;
  margin-top: 20px;
  }
  
  
  /*determina o tamanho do box do conteúdo do curso, padding de 20px para desgrudar o bloco cinza das laterais, desalinhou os textos com o "enrolled students" */
  #region-main div[role="main"] {
      padding: 0 20px;
  }
  
  /*Sobe todo o box do conteúdo, é necessário?*/
  .pagelayout-course #region-main {
  padding:25px 0 !important;
  margin-top: -10px;
  position:relative;
  }
  
  /*posiciona o box do conteúdo da seção, (-30px para subir o  box )*/
  .course-content {
    margin-top: -20px;
  }
  
  /*tira o estilo da lista, é necessário?*/
  .course-content ul.topics {
     margin: 0px;
      list-style: none;
  }
  
  /*bordinha de baixo do box das etapas */
  .course-content ul li.section.main {
      border-bottom: 1px solid #ddd;
  margin: 0;
  }
  
  /*estilo sombreado do box das etapas  o arredondamento das bordas é na classe .rounded*/
  .course-content ul.topics li.section {
      position: relative; /*esse position ajusta as imagens no topo de cada li no tema frank*/
      -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
      box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  padding-top: 332px;
  }
  
  /*muda cor do box da introdução etapas*/
  .pagelayout-course #section-0{
  background-color: #fff!important;
  }
  
  /*muda a cor do box das etapas*/
  .pagelayout-course .course-content .section.main {
  background: #fff !important;
      margin-bottom: 32px;
      position: relative; /*testar se resolve o problema das imagens*/
  }
  
  /*Estilo do conteúdo*/
  
  /*Espaço entre as linhas do conteúdo*/
  li {
      line-height: 1.5rem;
  }
  
  /*Alinhamento do conteúdo*/
  .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content{
     margin-right: 20px;
      margin-left: 20px;
      padding: 0;
  }
  
  /*tag*/
  
  .hidden {
      display: none;
      visibility: hidden;
  }
  
  .pagelayout-course .course-content .sectionname {
      font-size: 12px;
      line-height: 32px;
      text-transform: uppercase;
      color: #fff !important;
      background-color: #2455b6de;
    display: inline-block;
      padding: 0 16px;
      border-radius: 2px;
     position: absolute;
  width: 110px;
      top: 16px;
      z-index: 10;
      left: -17px;
      box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }
  .pagelayout-course .course-content .sectionname a {
  color: #fff!important;
  font-weight:700;
  }
  
  /*box do conteúdo*/
  .course-content ul.topics li.section .summary {
      margin-right: 25px;
  margin-left:25px;
  }
  
  /*tirar barra de rolagem*/
  .no-overflow {
      overflow: initial;
  padding-bottom: 1px;
  }
  
  h1 {
      margin: 10px 0;
      font-family: inherit;
      font-weight: 500;
      line-height: 2.5rem;
  font-size:38.5px;
  }
  
  .topics li.section .content>div>div>h1+p>img {
      width: auto;
      min-height: 100%;
      min-width: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
      vertical-align: middle;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  }
  
  .section .content .summary h1+p {
      border-bottom: 4px solid #162fb6;
      position: absolute;
      width: 100%;
      height: 300px;
      top: 0;
      left: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      overflow: hidden;
  }
  .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content {
  padding-top: 332px;
  }
  
  /*deixar a img  das etapas em todo o conteúdo*/
  .summary>div>p>img {
  object-fit: fill;
  }
  
  /*Contagem de alunos*/
  .stats-card.d-flex.align-items-center.justify-content-center.px-2.flex-wrap {
      color: #3a4d56;
  }
  
  /*Bloco de competências*/
  .modtype_label .pl-competencias.abertura{
    margin-top: -20px;
  }
  
  .modtype_label .pl-competencias {
      min-width: 100%;
      background-color: #eceff1;
      padding: 16px 60px;
      margin-left: -99px;
      margin-right: -103px;
  }
