/*AJUSTES DO REMUI*/
/*Ajuste bloco da barra direita do remui */
ul {
  padding-inline-start: 15px;
}

/*Esconder banco de conteudo e arquivo privado*/
.license-notice {
  display: none;
}
#nav-drawer [data-key="contentbank"] {
  display: none !important;
}
#nav-drawer [data-key="privatefiles"] {
  display: none !important;
}
#label_3_10 {
  display: none;
}
/*Contagem de alunos*/
.stats-card.d-flex.align-items-center.justify-content-center.px-2.flex-wrap {
  color: #3a4d56;
}


/*---AJUSTES GENERICOS---*/
*:focus {
  outline: 0 !important;
}

input {
  box-sizing: border-box;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

html,
body {
  height: 100%;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  background: #eceff1;
}

h1,
h2 {
  font-weight: 400;
  color: #3a4d56;
}

h1 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 2.5rem;
  font-size: 38.5px;
}

h3,
h4 {
  font-weight: 400;
  color: #01172b;
}

/*Links*/
a {
  color: #3b3b3d;
  font-weight: 400;
}

a:hover,
a:focus {
  color: #162fb6;
  text-decoration: none;
}

/*Espaço entre as linhas do conteúdo*/
li {
  line-height: 1.5rem;
}

/*Estilo da tabela no roteiro(altera a aparencia no titulo de outras paginas)*/
table {
  width: 100%;
}

/*Altera aparencia de tabelas por todo Moodle*/
tr:nth-child(even) {
  background-color: #f2f2f2;
}
/*imagem da logo*/
.navbar .navbar-brand-logo {
  padding: 5px 0;
  width: auto;
}

/*breadcrumb*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "►";
}
.breadcrumb {
  padding: 0;
  margin-left: 22px;
  margin-bottom: 0px;
  line-height: 1.3em;
}
.breadcrumb-item a {
  color: #7f8082;
  font-weight: 400;
  font-size: 13px;
}
/*Esconder breadcrumb duplicado embaixo do perfil do usuario*/
#region-main-box .breadcrumb {
  display: none;
}

h3.page-title {
  font-size: 42px;
  line-height: 1.2em;
  margin-left: 20px;
  padding: 30px 0;
}

.hidden {
  display: none;
  visibility: hidden;
}

/*Retira espaçamento do carroussel e do header*/
.home-sections {
  margin: -50px 0;
}

/*botão*/
.btn.btn-secondary,
.btn-primary,
.btn.btn-sm,
.action-menu .dropdown-toggle {
  border: none;
  color: #fff !important;
  font-weight: 700;
  background: #003f7a;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 16px;
  box-shadow: 2px 5px 10px 1px #63636370;
  -moz-box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 2px 5px 10px 1px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 23%);
  transition: all 0.3s ease-out;
}
/*cor do botão de ação, não estava mudando no código geral*/
.moodle-actionmenu a.dropdown-toggle {
  color: #fff !important;
}
.btn.btn-secondary:hover,
.btn-primary:hover,
.btn.btn-sm:hover,
.action-menu .dropdown-toggle:hover {
  box-shadow: 6px 6px 12px 1px #797979b5;
  background: #003f7a !important;
}

/*---AJUSTES DE CONTAINERS---*/
/*Ajusta o Header*/
header#page-header .card-body {
  margin: -20px -20px;
  -webkit-box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 2px 5px 10px 1px #63636370;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

/*Cor de Fundo */
.card-body {
  background: #fff;
}

/*Ajusta o box para preencher toda a página*/
#page #region-main > .card,
#page #region-main > .groupinfobox,
#page .userprofile .profile_tree #region-main > section,
.userprofile .profile_tree #page #region-main > section {
  margin: -30px -20px;
  padding: 0 20px;
}

/*desce o conteúdo que estava subindo no header*/
#page #region-main {
  padding: 30px 20px;
  margin-top: 40px;
}

/*determina o tamanho do box do conteúdo do curso, padding de 20px para desgrudar o bloco cinza das laterais, desalinhou os textos com o "enrolled students" */
#region-main div[role="main"] {
  padding: 0 20px;
  margin-top: 40px;
}

/*Sobe todo o box do conteúdo*/
.pagelayout-course #region-main {
  padding: 25px 0 !important;
  margin-top: -10px;
  position: relative;
}

/*posiciona o box do conteúdo da seção, (-30px para subir o  box )*/
.course-content {
  margin-top: -20px;
}

/*tira o estilo da lista, é necessário?*/
.course-content ul.topics {
  margin: 0px;
  list-style: none;
}

/*borda inferior do box das etapas */
.course-content ul li.section.main {
  border-bottom: 1px solid #ddd;
  margin: 0;
}


/*---AJUSTES DE PAGINA---*/
/*Pagina de login*/
#page-login-index .loginform,
#page-login-index .signupform,
#page-login-signup .loginform,
#page-login-signup .signupform {
  background-color: #20292f46;
}

.loginform .card,
.loginform .card-body {
  background-color: #20292f46;
}
.loginform .card {
  height: 100%;
}
.loginform h3,
.loginform a,
.loginform p {
  color: #fff;
}

.checkbox-custom label {
  color: #fff;
}

/*Página de categorias*/
.generalbox.info h1 + p > img {
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#page-course-index-category .generalbox.info {
  border: none;
  padding: 30px;
}
/*desce o conteúdo da árvore para imagem não esconder*/
.categorypicker + .box.generalbox.info > .no-overflow {
  margin-top: 300px;
}
/*esconde o campo de busca dos cursos*/
#page-course-index-category .categorypicker,
#coursesearch {

}
/*Posiciona os elementos abaixo da img*/
.generalbox.info h1 + p {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  overflow: hidden;
}
/*preenche toda a tela do box de conteúdo com*/
#page-site-index #region-main,
#page-course-index-category #region-main,
#page-course-index #region-main,
#page-admin-index #region-main,
#page-course-view-site #region-main,
#page-blog-index #region-main,
#page-badges-view #region-main,
#page-tag-search #region-main,
#page-grade-report-grader-index #region-main,
#page-grade-report-history-index #region-main,
#page-grade-report-outcomes-index #region-main,
#page-grade-report-overview-index #region-main,
#page-grade-report-singleview-index #region-main,
#page-grade-report-user-index #region-main,
#page-grade-edit-tree-index #region-main,
#page-grade-edit-settings-index #region-main,
#page-grade-report-grader-preferences #region-main,
#page-grade-edit-letter-index #region-main,
#page-grade-edit-outcome-course #region-main,
#page-grade-edit-scale-index #region-main,
#page-course-edit #region-main,
#page-enrol-users #region-main,
#page-enrol-instances #region-main,
#page-enrol-manual-edit #region-main,
#page-group-index #region-main,
#page-admin-roles-permissions #region-main,
#page-admin-roles-check #region-main,
#page-enrol-otherusers #region-main,
#page-enrol-manual-unenrolself #region-main,
#page-filter-manage #region-main,
#page-report-log-index #region-main,
#page-report-loglive-index #region-main,
#page-report-outline-index #region-main,
#page-report-participation-index #region-main,
#page-course-reset #region-main,
#page-question-edit #region-main,
#page-question-category #region-main,
#page-question-import #region-main,
#page-question-export #region-main,
#page-admin-registration-register #region-main,
#page-admin-setting-optionalsubsystems #region-main,
#page-admin-user #region-main,
#page-admin-user-user_bulk #region-main,
#page-admin-user-editadvanced #region-main,
#page-admin-setting-userdefaultpreferences #region-main,
#page-admin-user-profile-index #region-main,
#page-admin-cohort-index #region-main,
#page-admin-tool-uploaduser-index #region-main,
#page-admin-tool-uploaduser-picture #region-main,
#page-admin-setting-userpolicies #region-main,
#page-admin-roles-admins #region-main,
#page-admin-roles-manage #region-main,
#page-admin-roles-assign #region-main,
#page-admin-tool-capability-index #region-main,
#page-admin-tool-unsuproles-index #region-main,
#page-course-management #region-main,
#page-course-editcategory #region-main,
#page-backup-restorefile #region-main,
#page-admin-setting-coursesettings #region-main,
#page-admin-setting-courserequest #region-main,
#page-admin-setting-backupgeneralsettings #region-main,
#page-admin-setting-importgeneralsettings #region-main,
#page-admin-setting-automated #region-main,
#page-admin-tool-uploadcourse-index #region-main,
#page-admin-local-autocompetencygrade-consistencycheck #region-main {
  padding: 10px 0;
}

/*Ajusta o "expandir tudo"*/
.collapsible-actions {
  padding: 20px 50px;
}
/*Página dos cursos*/

/*sobe o conteúdo da árvore de escolas*/
.course_category_tree.clearfix.category-browse.category-browse-0 {
  margin-top: -55px;
}
/*separadores*/
.course_category_tree .category {
  border-bottom: 1px solid #ddd;
}
/*Alinha botão pag de cursos*/
.page-header-actionss .moodle-actionmenu,
.page-header-actionss .singlebutton {
  margin: 35px 10px !important;
}

/*alinha o conteúdo*/
.subcategories {
  padding: 0 50px;
}
/*desgruda o botão*/
#page-course-index-category .buttons {
  margin: 40px;
}
/*ajusta quadro de avisos*/
.coursebox > .info > h3.coursename {
  margin: 0;
}

/*Página das turmas*/
/*Tirar o ícone de link*/
.coursebox > .info > .coursename a {
  background-image: none;
  padding-left: 10px;
}
/*estica a parte inferior do box branco na parte*/
div#region-main-box {
  margin-bottom: -20px;
}

/*Página dos blocos*/
/*retira background que está como separador*/
.courses .coursebox.even {
  background: none;
}
/*separador*/
.coursebox {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
/*retira espaçãmento dos blocos*/
.coursebox .content .customfields-container {
  margin: 0;
}

/*---AJUSE DO COURSE OVERVIEW---*/
/*botão ferramenta*/
div#action-menu-2-menubar {
  margin-top: 50px;
}

/*Ícones do Roteiro*/
img.activityicon {
  height: 25px;
  width: 25px;
}
/*links das etapas*/
.section .activity .activityinstance > a {
  color: #162fb6;

  text-transform: uppercase;
}
.section .activity .activityinstance > a:hover {
  color: #089CA8;
  font-weight: 500;
  text-decoration: underline;
}

/*Aparencia do paragrafos dentro dos cursos*/
.course-content ul.topics li.section .content p,
.course-content ul.weeks li.section .content p,
.course-content ul.ctopics li.section.main .content p,
.course-content ul.ctopics li.tcsection .content p {
  line-height: 28px;
  font-size: 17px;
  margin-bottom: 12px;
  color: #000;
}

/*label do tp obrigatorio*/
.required_assign {
  background: #f44336;
  border-radius: 2px;
  color: #fff;
  font-family: arial;
  font-weight: 300;
  padding: 0px 5px;
  text-transform: uppercase;
}

/*Titulo da disciplina*/
.page-header-course-code,
.page-header-period-code {
  font-size: 1.2rem;
  margin-right: 16px;
  font-weight: 300;
}

.disciplina-fullname {
  font-size: 2.5rem;
  clear: both;
  display: block;
  font-weight: 400;
  color: #3a4d56;
}

/*esconder botao que possiblita esconder o conteudo da seccao*/
.pagelayout-course .course-content .toggle-section {
  display: none;
}

/*Ajuste Capa do livro das pos live*/
.pl-row .capa {
  min-width: 150px;
}
.capa img {
  width: 100%;
  border: #ddd solid 1px !important;
}

/*estilo do h2 ROTEIRO DE APRENDIZAGEM*/
#maincontent + h2 {
  font-size: 14px;
  margin: 0 0 32px 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

/*estilo sombreado do box das etapas  o arredondamento das bordas é na classe .rounded*/
.course-content ul.topics li.section {
  position: relative; /*esse position ajusta as imagens no topo de cada li no tema frank*/
  -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  padding-top: 332px;
}

/*muda cor do box da introdução etapas*/
.pagelayout-course #section-0 {
  background-color: #fff !important;
}

/*muda a cor do box das etapas*/
.pagelayout-course .course-content .section.main {
  background: #fff !important;
  margin-bottom: 32px;
  position: relative; /*testar se resolve o problema das imagens*/
}

/*Alinhamento do conteúdo*/
.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0;
}

.course-content ul.topics li.section .sectionname {
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #003f7acc;
  display: inline-block;
  padding: 0 20px;
  white-space: nowrap;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  z-index: 10;
  left: -16px;
  box-shadow: 5px 6px 10px 1px #7575757a;
}

.pagelayout-course .course-content .sectionname a {
  color: #fff !important;
  font-weight: 700;
}

/*box do conteúdo*/
.course-content ul.topics li.section .summary {
  margin-right: 25px;
  margin-left: 25px;
}

/*tirar barra de rolagem*/
.no-overflow {
  overflow: initial;
  padding-bottom: 1px;
}

.topics li.section .content > div > div > h1 + p > img {
  width: auto;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section .content .summary h1 + p {
  border-bottom: none;
  /* border-bottom: 4px solid #162fb6;*/
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
  padding-top: 332px;
}

/*deixar a img  das etapas em todo o conteúdo*/
.summary > div > p > img {
  object-fit: fill;
}

/*---APARENCIAS DAS VISUALIZAÇÂO DE COMPETENCIAS---*/
.alert {
  border: 0 none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
}

.alert-success {
  color: rgba(255, 255, 255, 0.87);
  background-color: #8bc34a !important;
}

.alert-success a {
  color: rgba(255, 255, 255, 0.87);
}

.alert-danger,
.alert-error {
  color: rgba(255, 255, 255, 0.87);
  background-color: #f44336 !important;
  border-color: #f44336;
}

.alert-danger a,
.alert-error a {
  color: rgba(255, 255, 255, 0.87);
}

/*FALTA IMPLEMENTAR!!! */
.obg-hl {
  display: none;
  visibility: hidden;
  background: #f44336;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-family: arial;
  font-weight: 300;
  padding: 0px 5px;
  text-transform: uppercase;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

/*Descrição de competencias no TP e Assesigment*/
.comp {
  background: #607d8b;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 7px 9px;
  display: block;
  margin: auto -8px 8px -8px;
}
.gradingform_rubric .criterion .description {
  font-weight: 600;
  color: black;
}

/*Label do TP na descrição das competencias*/
.tpn {
  display: inline-block;
  font-size: 10px;
  font-family: arial;
  font-weight: 300;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 5px;
}

.tpn + .comp {
  margin-top: 16px;
}

.tpn.tp1 {
  background: #f44336;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp2 {
  background: #e91e63;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp3 {
  background: #9c27b0;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp4 {
  background: #673ab7;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp5 {
  background: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp6 {
  background: #2196f3;
  color: rgba(0, 0, 0, 0.87);
}

.tpn.tp7 {
  background: #00bcd4;
  color: rgba(0, 0, 0, 0.87);
}

.tpn.tp8 {
  background: #009688;
  color: rgba(255, 255, 255, 0.87);
}

.tpn.tp9 {
  background: #4caf50;
  color: rgba(0, 0, 0, 0.87);
}

.tpn.tp10 {
  background: #8bc34a;
  color: rgba(0, 0, 0, 0.87);
}

/*Label das compentecias no relatorio pop up| report/coursecompetencies*/
.label.ND {
  background-color: #f44336;
  font-size: 16px;
  padding: 6px 8px;
}
.label.DML,
.label.DL,
.label.D {
  background-color: #8bc34a;
  font-size: 16px;
  padding: 6px 8px;
}
.tag-info.ND {
  background-color: #f44336;
}

.tag.Sim,
.tag-info.D,
.tag-info.DL,
.tag-info.DML {
  background-color: #8bc34a;
}

/*Icone da atividade no historico de avaliação da competência*/
.border-bottom img {
  width: 30px;
  height: auto;
}

/*aparencia dos botoes das Competências da disciplina por estudante*/
.competency-idnumber .bigfoot-footnote__button {
  background-color: #fff;
}

/*Espaçamento vertical no "popup" da distribuição de competencias*/
.user-competency-full-info .border-bottom {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

/*---Footer---*/
#page-footer a:hover {
  text-decoration: underline;
}
#page-footer h4 {
  font-weight: 600 !important;
}
#page-footer ul {
  padding-inline-start: 0px;
  list-style: none;
}
#page-footer ul li {
  padding: 5px 0;
}
.footer-bottom {
  background-image: url(//10.0.2.121/moodle/pluginfile.php/1/theme_remui/logo/1622227037/logotipo.png);
  background-repeat: no-repeat;
  margin: 10px 40px !important;
  padding-top: 10px;
  border-top: none;
}
#page-footer .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 10px;
}